{% extends 'base.html' %}

{% block title %}Member List{% endblock %}

{% block content %}
    <h2>Member List</h2>
    <ul>
        {% for member in members %}
            <li>
                <a href="{% url 'member_detail' member.pk %}">
                    {{ member.firstname }} {{ member.lastname }}
                </a>
                <a href="{% url 'member_update' member.pk %}">Edit</a>
                <a href="{% url 'member_delete' member.pk %}">Delete</a>
            </li>
        {% empty %}
            <li>No record found.</li>
        {% endfor %}
    </ul>
{% endblock %}
